{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}TF Target Gene Database{% endblock %}</title>
    {% block head %}<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "stylesheets/tfbs.css" %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>{% endblock %}
  </head>
  <body>
      <center><a href='http://tfbsdb.systemsbiology.net'><img src="{% static "images/tftg_db.gif" %}"></a></center>
    {% block content %}
    {% endblock %}
    <p><hr></p>
    <p><center><table><tr><td>Need help? Please contact <span class='afooter_like'>cplaisier(at)systemsbiology.org</span> if you have any questions, comments or concerns.</br>
                                    Developed at the <a href="http://www.systemsbiology.org" target="_blank"  class="footer">Institute for Systems Biology</a> in the <a href="http://baliga.systemsbiology.net/" target="_blank" class="footer">Baliga Lab</a>.</br></td></tr></table></center></p>
    
  </body>
</html>
