{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TFBS - Home{% endblock %}
{% block head %}{{ block.super }}
    <script type="text/javascript">
      function tfAutocomplete() {
        $('#term').autocomplete({
          source: '/tfcompletions',
          minLength: 2
        });
      }
      function geneAutocomplete() {
        $('#term').autocomplete({
          source: '/genecompletions',
          minLength: 2
        });
      }
      $(document).ready(function() {
        $('#stype').change(function() {
          var stype = $(this).val();
          if (stype == 'tf') {
            tfAutocomplete();
            $('#searchform').attr('action', 'searchtf');
          } else {
            geneAutocomplete();
            $('#searchform').attr('action', 'searchgene');
          }
        });
        tfAutocomplete();
      });
    </script>{% endblock %}
    {% block content %}
    <center><h2>Citation</h2></center>
    <p align='left'>Citation - In process.</p>
    <center><h2>Supporting References</h2></center>
    <p align='left'>TBD</p>
    <center><h2>Contact</h2></center>
    <p align='left'>The TFTG DB was developed at the <a href='http://www.systemsbiology.org'>Institute for Systems Biology</a> by Chris Plaisier in Nitin Baliga's lab. Feel free to contact us at: </p>
    <ul align='left'>
        <li><a href='mailto:cplaisier@systemsbiology.org'>cplaisier at systemsbiology dot org</a></li>
        <li><a href='mailto:nbaliga@systemsbiology.org'>nbaliga at systemsbiology dot org</a></li>
    </ul>
    {% endblock %}
