{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TFBS - Home{% endblock %}
{% block head %}{{ block.super }}
    <script type="text/javascript">
      function tfAutocomplete() {
        $('#term').autocomplete({
          source: '/tfcompletions',
          minLength: 2
        });
      }
      function geneAutocomplete() {
        $('#term').autocomplete({
          source: '/genecompletions',
          minLength: 2
        });
      }
      $(document).ready(function() {
        $('#stype').change(function() {
          var stype = $(this).val();
          if (stype == 'tf') {
            tfAutocomplete();
            $('#searchform').attr('action', 'searchtf');
          } else {
            geneAutocomplete();
            $('#searchform').attr('action', 'searchgene');
          }
        });
        tfAutocomplete();
      });
    </script>{% endblock %}
    {% block content %}
    <center><h2>Citation</h2></center>
    <p align='Center'>Plaisier CL, O'Brien S, Bernard B, Reynolds S, Simon Z, Toledo CM, Ding Y,
Reiss DJ, Paddison PJ, Baliga NS. <a href='http://dx.doi.org/10.1016/j.cels.2016.06.006'>Causal Mechanistic Regulatory Network for
        Glioblastoma Deciphered Using Systems Genetics Network Analysis.</a> Cell Syst. 2016 
Aug;3(2):172-86. doi: 10.1016/j.cels.2016.06.006. PubMed PMID: <a href='https://www.ncbi.nlm.nih.gov/pubmed/27426982'>27426982</a>; PubMed
Central PMCID: PMC5001912.</p>
    <center><h2>Supporting References</h2></center>
    <ul align='left'>
        <b>Motif Repositories</b>
        <li>JASPAR - <a href='http://www.ncbi.nlm.nih.gov/pubmed/24194598'>Mathelier et al., 2014</a></li>
        <li>SELEX - <a href='http://www.ncbi.nlm.nih.gov/pubmed/23332764'>Jolma et al., 2013</a></li>
        <li>TRANSFAC - <a href='http://www.ncbi.nlm.nih.gov/pubmed/16381825'>Matys et al., 2006</a></li>
        <li>UniPROBE - <a href='http://www.ncbi.nlm.nih.gov/pubmed/18842628'>Newburger and Bulyk, 2009</a></li>
        </br>
        <b>ENCODE Data</b>
        <li>ENCODE Digital Genomic Footprinting - <a href='http://www.ncbi.nlm.nih.gov/pubmed/22955618'>Neph et al., 2012</a></li>
        <li>ENCODE ChIP-seq data - <a href='http://www.ncbi.nlm.nih.gov/pubmed/23203885'>Wang et al., 2012</a></li>
        <b>Genome Data</b>
        <li>UCSC hg19 Genome Sequences - <a href='http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFaMasked.tar.gz'>hg19 Masked Fasta Files</a></li>
        <li>Gene Definitions - <a href='http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refGene.txt.gz'>RefGene File</a></li>
    </ul>
    <center><h2>Contact</h2></center>
    <p align='left'>The transcription factor target gene database was developed at the <a href='http://www.systemsbiology.org'>Institute for Systems Biology</a> by Chris Plaisier in Nitin Baliga's lab. Feel free to contact us at: </p>
    <ul align='left'>
        <li><a href='mailto:cplaisier@systemsbiology.org'>cplaisier at systemsbiology dot org</a></li>
        <li><a href='mailto:nbaliga@systemsbiology.org'>nbaliga at systemsbiology dot org</a></li>
    </ul>
    {% endblock %}
