{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TFBS - Home{% endblock %}
{% block head %}{{ block.super }}
    <script type="text/javascript">
      function tfAutocomplete() {
        $('#term').autocomplete({
          source: '/tfcompletions',
          minLength: 2
        });
      }
      function geneAutocomplete() {
        $('#term').autocomplete({
          source: '/genecompletions',
          minLength: 2
        });
      }
      $(document).ready(function() {
        $('#stype').change(function() {
          var stype = $(this).val();
          if (stype == 'tf') {
            tfAutocomplete();
            $('#searchform').attr('action', 'searchtf');
          } else {
            geneAutocomplete();
            $('#searchform').attr('action', 'searchgene');
          }
        });
        $('#term').change(function() { $('#searchform').submit(); });
        tfAutocomplete();
      });
    </script>{% endblock %}
    {% block content %}
    <p align='left'>This database of transcription factor (TF) to target gene interactions was constructed to facilitate construction of gene regulatory networks. It has been validated for this purpose and preforms quite well, please see <a href='/constructionValidation'>Construction and Validation</a> for more information.</p>
    <center><table cellpadding=0 class='search'><tr><td align='center'>Search by TF or Gene:</br><form id="searchform" action="searchtf" method="get">
      <select id="stype">
        <option value="tf">TF</option>
        <option value="gene">Gene</option>
      </select>
      <input id="term" name="searchterm" type="search">
      <input id="searchbutton" type="submit" value="Search" class='searchbutton'>
    </form></td></tr></table>
    <p><b>Database statistics</b></br>
    <u>Number of genes:</u> {{num_genes}}</br>
    <u>Number of motifs:</u> {{num_motifs}}</br>
    <u>Number of TFBS:</u> {{num_tfbs}}</p>
    </center>
    {% endblock %}
